body {
    text-align: center;
    font-size: 16px;
    width: 100%;
    margin: 0px;
    display: flex;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.output {
    align-items: center;
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
}

.calcRow {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
}

.btn {
    border: 1px solid grey;
    height: 40px;
    width: 120px;
    margin: 8px;
    line-height: 40px;
    border-radius: 10px;
    background: lightgray;
}