body {
    text-align: center;
    align-items: center;
    font-size: 16px;
    width: 50%;
    margin: auto;
    display: flex;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.output {
    align-items: center;
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
}

.calcRow {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
}

.btn {
    border: 1px solid grey;
    height: 40px;
    width: 120px;
    margin: 0 4px 0 4px;
    line-height: 40px;
    border-radius: 10px;
    background: lightgray;
}

.btn:hover {
    background-color: darkgray;
    color:white;
}